*{
    margin: 0%;
    padding: 0%;
}

/* ajuste de color responsive + variables*/
$color1: rgb(194, 226, 194);
$color2: rgb(190, 215, 255);

nav{
    background-image: radial-gradient(circle,$color1,white);
    @media (max-width: 1000px) {
        background-image: radial-gradient(circle,$color2,white);
    }
}

body {
  background-color: $color1;
  @media (max-width: 1000px) {
    background-color: $color2;
  }
}

@import "grillas";

  /* creacion de mixin*/
@mixin mix($display, $padding, $margin, $width, $height, $border-color){
    display: $display;
    padding: $padding;
    margin: $margin;
    width: $width;
    height: $height;
    border-color: $border-color  
}

 .listarex {
    @include mix(inline-block,10px,10px ,75px ,35px, black );   
 }
 
.listaaxe{
    @include mix(inline-block,10px ,10px ,75px ,35px, black  )
}

.listadove{
  @include mix(inline-block,10px ,10px ,75px ,35px, black  )
}

@import "nesting";
